
body {
    display: grid;
    background-color: #333333;
    font-family: sans-serif;
    padding: 0;
}
/* Animations */
/* Fade In Out */
@keyframes fadeinout{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Image Changer */
@keyframes imagechange {
    0% {
        background-image: url(design\ thinking.png);
        background-color:rgb(64, 64, 80);
    }
    33% {
        background-image: url(python.png);
        background-color: blueviolet;
    }
    67% {
        background-image: url(data\ stucture.png);
        background-color: rgb(56, 80, 85);
    }
    100% {
        background-image: url(Machine\ Learning.png);
        background-color: rgb(135, 135, 66);
    }
}
/* Color changer */
@keyframes colorchange{
    0% {
        color: red;
    }
    50% {
        color: blue;
    }
    100% {
        color: yellow;
    }
}

/* left to right */
@keyframes lefttoright {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
/* top to bottom */
@keyframes mover {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}
/* bottom to top */
@keyframes backmover {
    0% {
        height: 100%;
    }
    50% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}
/* Top Banner */
.top_banner {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

#menu {
    font-size: 2rem;
    color: blue;
    display: none;
}
#close {
    font-size: 2rem;
    color: blue;
    display: none;
}
.left_banner {
    margin-left: 20px;
    font-size: large;
}
.right_banner {
    display: flex;
    gap: 20px;
    margin-right: 20px;
}
.right_banner a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: 1s;
}
.right_banner a:hover {
    text-decoration: underline;
    /* font-family: 'Times New Roman'; */
    color: aqua;
}
header{
    display: grid;
    border-bottom: 1px solid aliceblue;
    margin-bottom: 50px;

}
.welcome {
    overflow: hidden;
    text-align: center;
    color: yellow;
    border-bottom: 2px solid aliceblue;
    white-space: nowrap;
    animation: lefttoright .5s ease-in, colorchange 10s 3 ease-out;
}


section.about {
    display: grid;
    overflow: hidden;
    /* white-space: nowrap; */
    grid-template-columns: 1fr 1.5fr;
    gap: 20px;
    text-align: center;
    color: aliceblue;
    border-bottom:1px solid aliceblue;
    animation: mover .5s normal;
}
.left_about img {
    width: 200px;
    height: 200px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    
}
.sec1 {
    color: aliceblue;
    padding: 20px;
}
.left_about {
    display: grid;
    padding: 30px;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: aquamarine;
    grid-template-columns: 1fr;
    margin-left: 20px;
    color: black;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-right: 2px solid red;

}

.right_about {
    display: grid;
    padding: 20px;
    background-color: blanchedalmond;
    grid-template-columns: 2fr 1fr ;
    font-size: 1.5rem;
    font-weight: 400;
    position: right;
    color: black;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-left: 2px solid red;
    border-right: 2px solid blue;
}
.cert {
    color: aliceblue;
    padding: 20px;
    border-bottom: 1px solid aliceblue;
}
.course {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-bottom: 2px solid aliceblue;
}
.course-left {
    display: grid;
    padding : 20px;
    background-color: rgb(68, 54, 30);
    grid-template-columns: .5fr 1fr;
    row-gap: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    border-top-right-radius: 30%;
    overflow: hidden;
    /* white-space: nowrap; */
    border-right: 2px solid aliceblue;
    border-bottom-left-radius: 30%;
    border-left:2px solid red;
    animation: lefttoright .5s linear;

}
.course-left h1{
    color: yellowgreen;
}


.course-right {
    display: grid;
    padding: 30px;
    background-color: rgba(138, 62, 86, 0.726);
    grid-template-columns: 1fr 1fr;
    border-top-left-radius: 30%;
    border-left: 2px solid aliceblue;
    border-bottom-right-radius: 30%;
    border-right: 2px solid yellow;
    overflow: hidden;
    /* white-space: nowrap; */
    font-size: 1.5rem;
    font-weight: 400;
    animation: lefttoright .5s linear;
}

/* Section Certificates */

.certificate {
    display: flex;
    padding: 30px;
    gap: 20px;
    height: 600px;
    justify-content: center;
    align-items: end;
    /* grid-template-columns: 1fr ; */
    border-bottom: 1px solid aliceblue;
    background-size: 400px 400px;
    background-repeat: no-repeat;
    background-position: center;
    animation: imagechange 6s linear infinite;
}

.certificate a {
    overflow: hidden;
    text-decoration: none;
    color: black;
    transition: 0.6s;
    border-top: 2px solid aliceblue;
    animation: colorchange 3s infinite;
}

.certificate a:hover{
    background-color: #333333;
    align-items: center;
    font-size: larger;
    color: yellow;
    text-decoration: underline;
}
.image1{
    padding: 5px;  
    /* border-radius: 10%;  */
    border-right: 2px solid aliceblue;
  
}

.image2{
    padding: 5px;  
    /* border-radius: 10%;  */
    border-right: 2px solid aliceblue;
  
}
.image3{
    padding: 5px;  
    /* border-radius: 10%;  */
    border-right: 2px solid aliceblue;
  
}
.image4{
    padding: 5px;  
    /* border-radius: 10%;  */
    border-right: 2px solid aliceblue;
  
}

/* Contact Section */
.contact {
    display: flex;
    padding: 20px;
    background: rgb(208, 141, 141);
    justify-content: center;
    gap: 20px;
}
.contact a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1.5rem;
    
}
i {
    font-size: 3rem;
    color: rgb(49, 44, 52);
}
.email {
    display: flex;
    justify-content: start;
    /* margin-left: 30px; */
}

/* Footer */

.footer {
    background: aliceblue;
    text-align: center;
    padding: 10px;
    /* width: 100%; */
}


/* Reponsiveness */

@media only screen and (max-width: 900px) {
    body {
        width: 100%;
        padding: 0;
    }
    .top_banner {
        grid-template-columns: 1fr;
    }
    .right_banner {
        display: none;
        flex-direction: column;
        align-items: center;
    }
    #menu {
        display: flex;
        margin-right: 40px;
    }
    section.about {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        border-radius: 20px;
    }
    .left_about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 2px;
        margin-left: 0px;
        font-size: 1.2rem;
        color: blue;
    }
    .right_about {
        border-radius: 2px;
    }
    .course {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;

    }
    .course-left {
        border-top-right-radius: 20%;
        border-bottom-left-radius: 2px;
    }
    .course-right {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 2px;
    }
   
    /* .contact {
        width: 100%;
        
    } */
    /* .footer {
        width: 100%;
    } */
  }
  